params {
    samplesheet = false
    outdir = false
    seurat_version = "4.4.0--hdfd78af_0"
    container__seurat = "quay.io/biocontainers/seurat-scripts:${params.seurat_version}"
    cellxgene_version = "1.3.0--pyhdfd78af_0"
}

process {
    withName: convert {
        container = params.container__seurat
    }
}